.audio-controls {
    display: flex;
    flex-direction: column;
    width: 200px;

    --pad: 8px;
    gap: var(--pad);
    padding: var(--pad) 0px;
}

.audio-controls > .input-container {
    display: flex;
    justify-content: space-between;
}

.bg-red {
    background: red;
}

.credit {
    background: #dddddd;
    padding: 10px 20px;
    width: 600px;
}

#loops-number {
    width: 60px;
}
