@import "./lib/fonts/index.less";

@inf: max(1000000rem, max(1000vw, 1000vh));

@gap: 12rem;

@shadow: 0rem 0rem 4rem 0rem #0003, 0rem 4rem 5rem 0rem #0003;
@shadow-l: 0rem 0rem 8rem 0rem #00000028, 0rem 8rem 10rem 0rem #00000028;
@shadow-xl: 0rem 0rem 16rem 0rem #00000021, 0rem 16rem 20rem 0rem #00000021;
@shadow-inverted: 0rem 0rem 4rem 0rem #0003, 0rem -4rem 5rem 0rem #0003;
@shadow-l-inverted: 0rem 0rem 8rem 0rem #00000028,
    0rem -8rem 10rem 0rem #00000028;
@shadow-xl-inverted: 0rem 0rem 16rem 0rem #0003,
    0rem -16rem 20rem 0rem #00000021;

@color-dark: #282828;
@color-gray-light: #e6e6e6;
// @color-gray-light: #ddd;
@color-gray: #c0c0c0;
// @color-gray: #c8c8c8;
@color-primary: #16643d;
@color-primary-muted: #415c4f;
@color-primary-lighter: screen(@color-primary, #242424);
@color-white: white;
@color-black: black;

@size-s: 14rem;
@size: 16rem;
@size-l: 18rem;
@size-xl: 20rem;
@size-hero: 48rem;
@size-hero-s: 24rem;

@weight-bold: 600;
@weight-normal: 400;

@font-alt: @font-IosevkaAileWeb;
// @font-alt: @font-OpenSans;
@font-main: @font-OpenSans;
@font-title: @font-Lato;
