@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url(Lato-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url(Lato-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    src: url(Lato-BoldItalic.ttf) format("truetype");
}
@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    src: url(Lato-Italic.ttf) format("truetype");
}
