@import "../variables/index.less";
@import "./lib/1. reset.css";

html {
    font-family: @font-main, system-ui, sans-serif;
    font-size: 0.0625rem;
}

body {
    font-size: @size;
    overflow-y: scroll;
}

html,
body,
#app {
    height: 100%;
}

a,
a:link,
a:visited {
    color: @color-primary;
}

strong {
    font-weight: bold;
}

/*
	Variables to pick from JS
\*----------------------------------*/

html {
    @breakpoint-toc: @NavPages-width + @Main-padding-horizontal + @Toc-width;

    --breakpoint-toc: @breakpoint-toc;
}
