/*------------------------------------------------
		hor-scroll-wrapper
------------------------------------------------*/

.hor-scroll-wrapper {
    overflow-x: auto;
}

.hor-scroll-wrapper > *:first-child {
    margin-top: 0px;
}

.hor-scroll-wrapper > *:last-child {
    margin-bottom: 0px;
}

/*------------------------------------------------
		Figure wrapper
------------------------------------------------*/

figure div {
    display: inline-block;
    margin-left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
}

/*------------------------------------------------
		Admonition wrapper
------------------------------------------------*/

.admonition-wrapper {
    margin-top: var(--margin-vertical);
    margin-bottom: var(--margin-vertical);
}
