@import "../variables/index.less";

.FrostedGlass {
    background-color: mix(@color-white, transparent, 85%);
    backdrop-filter: blur(5px);
}

.DarkMode {
    a {
        text-decoration: none;

        &:link,
        &:visited {
            @color-link: saturate(lighten(@color-primary, 27%), 16%);
            color: @color-link;

            &:hover {
                color: saturate(lighten(@color-link, 27%), 16%);
                text-decoration: underline;
            }
        }
    }
}
