@import "../variables/index.less";
@import "./lib/1. reset.css";

html {
    font-family: Arial, Helvetica;
    font-size: 0.0625rem;
}

body {
    font-size: @size;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
}

#app {
    width: 100%;
    height: 100%;
}

a,
a:link,
a:visited {
    color: @color-primary;
}

strong {
    font-weight: bold;
}
